<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
            <h1>Rock Paper Scissors</h1>
            <p>New to the game? Click <a href="/">here</a> for the rules!</p>
            <p>Click <a href='/play'>here</a> to play against the computer!</p>
    </header>
    <main>

        {% block content %}

        {% endblock %}

    </main>

</body>
</html>